SECRET_KEY="Code-Later"
JWT_SECRET_KEY="your_jwt_secret_key"
MAIL_SERVER="smtp.yourmailserver.com"
MAIL_PORT=587
MAIL_USERNAME="smtp.yourmailserver.com"
MAIL_PASSWORD="smtp.yourmailserver.com"
MAIL_USE_TLS="true"
MAIL_USE_SSL="false"
FILE_STORAGE_PATH="/Users/worlako/Workhub/Alx/Projects/dataGuardsuite/backend/storage/sample_vol/media"
MONGO_USERNAME="myusername"
MONGO_PASSWORD="mypassword"
MONGO_DATABASE="mydatabase"
MONGO_DATABASE_URI="mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@localhost:27017/${MONGO_DATABASE}?authSource=admin"