FILE_STORAGE_PATH="sample_vol/media/"
MONGO_USERNAME="myusername"
MONGO_PASSWORD="mypassword"
MONGO_DATABASE="mydatabase"
MONGO_DATABASE_URI="mongodb://myusername:mypassword@localhost:27017/mydatabase?authSource=admin"