SECRET_KEY="I-will-change-the-Secret-Code-Later"
JWT_SECRET_KEY="your_jwt_secret_key"
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=587
MAIL_USERNAME="example@gmail.com"
MAIL_PASSWORD="example"
MAIL_USE_TLS="true"
MAIL_USE_SSL="false"
FILE_STORAGE_PATH="path to the storage location"
MONGO_USERNAME="admin"
MONGO_PASSWORD="uite-data-123-23444"
MONGO_DATABASE="dataguardsuite"
DATA_ENCRYPTION_PASSWORD="idyh^nc6$)uxh_*$p6+pg6f-7oq-jth(^ke0#kzm0jhu0==lv6"
MONGO_DATABASE_URI="mongodb+srv://username:password@dataguardsuite.tubaccq.mongodb.net/?retryWrites=true&w=majority&appName=dataguardsuite"
