<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favico.png')}}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Lib CSS Files -->
  <link href="{{url_for('static', filename='libs/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='libs/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

  {% block css %}

  {% endblock %}
</head>

<body>


  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{url_for('dashboard')}}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">dataGuardsuite</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a id="user-profile" class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img id="user-photo" src="#" alt="Profile" class="rounded-circle">
            <span id="user-name" class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

            <li>
              <a id="logout-btn" class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Log Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link {% if is_dashboard %}-{%else%}collapsed{%endif%}" href="{{url_for('dashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link  {% if is_user %}-{%else%}collapsed{%endif%}" href="{{url_for('users')}}">
          <i class="bi bi-person"></i>
          <span>Users</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if is_jobs %}-{%else%}collapsed{%endif%}" href="#">
          <i class="bi bi-list-task"></i>
          <span>Jobs</span>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link {% if is_backup %}-{%else%}collapsed{%endif%}" href="#">
          <i class="bi bi-download"></i>
          <span>Back Up</span>
        </a>
      </li>


      
      <li class="nav-item">
        <a class="nav-link {% if is_db_credential %}-{%else%}collapsed{%endif%}" href="#">
          <i class="bi bi-key"></i>
          <span>DB Credentials</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    {% block content %}


    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span><a target="_blank" href="https://github.com/worlakodzo/dataGuardsuite">dataGuardsuite (click to see the source code)</a></span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->

  <script src="{{url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='libs/chart.js/chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='libs/echarts/echarts.min.js')}}"></script>
  <script src="{{url_for('static', filename='libs/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{url_for('static', filename='libs/php-email-form/validate.js')}}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="{{url_for('static', filename='js/notify.min.js')}}"></script>


  <script type="module" src="{{url_for('static', filename='js/main.js')}}"></script>


  {% block js %}

  {% endblock %}

</body>

</html>