
{% extends 'web_app/base.html' %}
{% block title %} User Profile | DataGuardSuite  {% endblock %}

{% block content  %}


 <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('dashboard')}}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="user-profile-container" data-id="{{user_id}}" class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div id="profile-card" class="card-body profile-card pt-4 d-flex flex-column align-items-center">


            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">


                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form data-id="{{user_id}}" id="edit-profile-form">

                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <form id="user-settings-form" data-id="{{user_id}}">

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changes-to-user-info">
                          <label class="form-check-label" for="changes-to-user-info">
                            Changes to user information
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="daily-update-on-jobs">
                          <label class="form-check-label" for="daily-update-on-jobs">
                            Daily update on jobs
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="new-db-credential-added">
                          <label class="form-check-label" for="new-db-credential-added">
                            New database credential added
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="security-alerts" checked>
                          <label class="form-check-label" for="security-alerts">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" id="btn-save-user-setting" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form id="profile-change-password-form" data-id="{{user_id}}">

                    <div class="row mb-3">
                      <label for="new-password" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new_password" type="password" class="form-control" id="new-password">
                      </div>
                      <p id="new-password-error" style="color: red; display: none;">New Password field required</p>
                    </div>

                    <div class="row mb-3">
                      <label for="confirm-password" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="confirm_password" type="password" class="form-control" id="confirm-password">
                      </div>
                      <p id="confirm-password-error" style="color: red; display: none;">Confirm Password field required</p>
                    </div>

                    <p id="password-not-match-error" style="color: red; display: none;">Password does not matchs</p>
                    <div class="text-center">
                      <button type="submit" id="btn-change-password" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}
{% block js %}
<script type="module" src="{{url_for('static', filename='js/user.js')}}"></script>
{% endblock %}

